/*body *{
	border: 1px solid black;
}
*/
body {
	background-color: #737590;	
}

button {
	background: none;
	border: 3 px solid white;
}
header {
	background-color: black;
	margin-bottom: 1rem;
}
p {
	text-align: justify;
	padding: 1rem;
	margin-bottom: 0;
}
h3 {
	text-align: center;
	margin-bottom: 0;
}
article {
	background-color: #CAD6EF;
}
section{
	margin-bottom: 1rem;
}
#titleBox{
	text-align: center;
}
#titleBox > h1 {
	color: #FECD2A;
}
#titleBox > h5 {
	color: #E07BD5;
	font-family: 'Great Vibes', cursive;
	font-size: 3rem;
}
#pikePlace{
	width: 100%;
	/*margin-bottom: 1rem;*/
}
#mug{
	width: 100%;
/*	margin-bottom: 1rem;*/
}
#family{
	width: 100%;
}
#shirt{
	/*height: 100%;*/
	width: 100%;
}
#cookie{
	width: 100%;
}
.divider {
	background-color: #CC0F29;
	color: #E79A0B;
	font-family: 'Great Vibes', cursive;
	text-align: center;
	border-radius: 1rem;
}